.navbar,.logo,.cover{
    display: flex;
}
.cover{
    justify-content: center;
    margin: auto;
    margin-bottom: -5em;
    height: fit-content;
    height: 971.06px;
    padding: 80px 85px 0px 51px;
    background: linear-gradient(180deg, rgba(166, 191, 255, 0.33) 0%, rgba(232, 238, 255, 0.2574) 100%);
}
.cover_details h1 {
    font-style: normal;
    font-family: 'PT Sans Caption', sans-serif;
    color: #FFBF4D;
    text-align: left;
    width: 705px;
    position: relative;
    left: 3.53%;
    top: -2.44%;
    bottom: 45.52%;
    font-weight: 700;
    font-size: 55px;
    line-height: 95px;
}


.cover_details p {
    font-style: normal;
    font-family: 'PT Sans Caption', sans-serif;
    position: relative;
    left: 4.22%;
    top: -5.57%;
    bottom: 31.62%;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #513164;
    text-align: left;
    padding-right: 5em;
}
.cover_details .arrow{
    font-style: normal;
    font-family: 'PT Sans Caption', sans-serif;
    background: linear-gradient(90deg, rgba(209, 222, 255, 0.91) -0.05%, rgba(226, 234, 255, 0.03) 73.51%);
    padding: 13px;
    text-align: left;
    font-size: 24px;
    line-height: 40px;
}
.cornered {
    border-top: 34px solid transparent;
    border-bottom: 33px solid transparent;
    border-right: 20px solid rgba(209, 222, 255, 0.91);
    left: 31px;
    transform: translate(0px, -13px);
    position: absolute;
}

.cover_img{
    height: 664.63px;
    width: 313.21px;
}


@media screen and (max-width:960px) {
    .cover_details p{
        font-size: 12px;
        padding-right: 2em;
    }
}