@import url('https://fonts.googleapis.com/css2?family=Orienta&family=PT+Sans+Caption&family=Roboto:wght@100&display=swap');

*::-webkit-scrollbar{
  scroll-behavior: smooth;
  display: none;
}
.App{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  max-width: 1440px;
  align-items: center;
  overflow: hidden;
}